.list {
  background-color: #0fa3b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  overflow: visible;
  gap: 10px;
}
.headline {
  background-color: #f7a072;
  font-size: 20px;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 15px;
  color: #d9e5d6;
  cursor: default;
}
.main {
  background-color: #f7a072;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  align-items: center;
  border-radius: 20px;
  cursor: default;
}
.description {
  font-size: 18px;
  text-align: center;
}

.currently_working {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.btn {
  font-size: 14px;
}
.btn:disabled {
  background-color: #0fa3b1;
  cursor: default;
}
.btn_remove {
  font-size: 14px;
}
.btn_remove:hover {
  background-color: red;
}

.status_completed {
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
}
.status_notstarted {
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
}
.status_inprogress {
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 10px;
}

.delete_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 20px;
}
.btn_yes,
.btn_no {
  font-size: 14px;
}
.btn_yes:hover {
  background-color: red;
}
.btn_no:hover {
  background-color: green;
}
.action_delete {
  display: flex;
  gap: 20px;
}
