.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7a072;
  width: 600px;
  height: 480px;
  padding: 20px;

  border-radius: 20px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  background-color: #0fa3b1;
  padding: 20px 0;
  gap: 26px;
}
.headline {
  background-color: #d9e5d6;
  color: #f7a072;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.action {
  display: flex;
  gap: 40px;
}
.btn_save,
.btn_remove {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.btn_remove:hover {
  background-color: red;
}

.name_wrapper,
.email_wrapper,
.phone_wrapper,
.birth_wrapper,
.salary_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.input {
  font-weight: bold;
  padding-left: 5px;
  font-size: 20px;
  background-color: #d9e5d6;
  outline: none;
  width: 180px;
}

.tag {
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.error {
  background-color: #d9e5d6;
  color: red;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: red;
  font-weight: bold;
}
.confirm_action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.btn_yes,
.btn_no {
  font-size: 16px;
}
.btn_yes:hover {
  background-color: red;
}
.btn_no:hover {
  background-color: green;
}
