.wrapper {
  background-color: #f7a072;
  padding: 20px 20px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
