.wrapper {
  background-color: red;
  padding: 10px 20px;
  width: 400px;

  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 300px;
  background-color: green;
  justify-content: space-around;
  align-items: center;
}
